  
/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

#wood .wrapper .milk_text {
  margin: 10px 0;
}
#wood .wrapper .shadow {
  background-color: white;
}
#wood .wrapper #mid {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: none;
  padding: 0;
  
}
#wood .wrapper #mid .shadow:first-child{
  flex-basis: 67%;
  margin-right: 15px;
  margin-bottom: 20px;
}
#wood .wrapper #mid .shadow:nth-child(2){
  flex-basis: 300px;
  margin-bottom: 20px;

}
#wood .wrapper #mid .shadow:nth-child(3){
  flex-basis: 31.1%;
}
#wood .wrapper #mid .shadow:nth-child(4){
  flex-basis: 31.1%;
}
#wood .wrapper #mid .shadow:nth-child(5){
  flex-basis: 31.1%;
}
#details.clearfix .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

}